<launch>

  <include file="$(find panda_moveit_config)/launch/franka_control.launch">
    <arg name="robot_ip" value="172.16.0.2"/>
    <arg name="load_gripper" value="true"/>

  </include>

    <!-- <node name="pick_place_cpp" pkg="moveit_tutorials" type="pick_place_tutorial"/> -->
    <node name="pick_place_cpp" pkg="panda_pick_and_place" type="gripper_test"/>


</launch>
